.ball {
    width: 12rem;
    height: 12rem;
    margin-bottom: 10px;
    line-height: 80px;
    font-size: 8rem;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: 700;
}

.ball:last-child {
    margin-bottom: 0;
}

.ball.blue {
    background: #69c8f2;
}

.ball.red {
    background: #ff7272;
}

.ball.gray {
    background: #aaa;
}

.ball.green {
    background: #b0d840;
}

.ball.done {
    animation: done 0.3s linear;
}