:root {
  --color-red: #ed232b;
  --color-blue: #15489f;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 80vw;
  /* 80% of the viewport's width */
  height: 50vh;
  /* 50% of the viewport's height */
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-content {
  text-align: center;
}

.content-area {
  margin: 20px 0;
}

.logo_img {
  max-width: 15% !important;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-style: none;
  vertical-align: middle;
}

/* Responsive design */
@media (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .main-content h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {

  .header,
  .main-content,
  .footer {
    padding: 10px;
  }

  .header h1,
  .main-content h2 {
    font-size: 1rem;
  }
}

h1 {
  font-size: 2vw;
  color: var(--color-blue);
}