:root {
  --color-red: #ed232b;
  --color-blue: #15489f;
}

.App {
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 80vw;
  height: 50vh;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container{
  display:flex;
  max-width: 80%;
  /* background-color: black; */
  justify-content: center;
  align-items: center;
}

.main-content {
  text-align: center;
  align-content: center;
}

.content-area {
  margin: 1rem 0;
  display: block;
  justify-self: center;
  width: 100%;
  height: 5rem;
}

.logo-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: black; */
}

.logo_img {
  max-width: 15% !important;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-style: none;
  vertical-align: middle;
}

/* Responsive design */
@media (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .main-content h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {

  .header,
  .main-content,
  .footer {
    padding: 10px;
  }

  .header h1,
  .main-content h2 {
    font-size: 1rem;
  }
}

h1 {
  font-size: 2vw;
  color: var(--color-blue);
}

*,
::before,
::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

#btn {
  background-color: #DE1E3B;
  width: 14rem;
  height: 5rem;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 30px;
  border: none;
  transform-origin: 50% 50% 0px;
  margin: 1rem;
  transition: 0.5s;
  user-select: none;
}

#btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 0.6rem;
  width: 100%;
}

#btn:active::after {
  transform: translateY(0.6rem);
}

#btn.hide {
  transform: scale(0);
}